body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
.heading-h1{
    font-size: 55px;
}
.banner-p{
    line-height: 22px;
    font-weight: 500;
    color: gray;
}
.orange-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 2%;
    line-height: 25px;
}
.half-width p{
    color: grey;
}
.half-width p {
    margin-bottom: 30px;
}
.half-width img{
    width: 100%;
}

.top-banner{
    background-image: url("https://backdatedbackdoor.github.io/basic-portfolio/images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 15%;
}
.link-button-1{
    background-image: linear-gradient(50deg, rgba(1, 255, 221, 0.808), rgba(255, 230, 0, 0.925));
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
    color:rgb(58, 57, 57);
    
}

.link-button-2{
    background-image: linear-gradient(50deg,  rgba(255, 230, 0, 0.925), rgb(11, 248, 217));
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
    color:rgb(73, 73, 73);
    
}
.heading-h2{
    font-size: 45px;
}
.dream-area{
    background-image: url("https://backdatedbackdoor.github.io/basic-portfolio/images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.single-experience{
    box-shadow: 15px 15px 40px grey;
    border-radius: 10px;
    height: 60%;
}
.experience-area{
    background-image: url("https://backdatedbackdoor.github.io/basic-portfolio/images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 150px;
}
#sec-researcher{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,lightSalmon, tomato);
    border-image-slice: 1;
    background-image: url("https://backdatedbackdoor.github.io/basic-portfolio/images/exp-bg-2.png");
    background-repeat: no-repeat;
    background-size: 100px;
}
#web-developer{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
    background-image: url("https://backdatedbackdoor.github.io/basic-portfolio/images/exp-bg-3.png");
    background-repeat: no-repeat;
    background-size: 100px;
}
footer{
    text-align: center;
}
.copyright{
    text-decoration: none;
    color: orange;
}
.rm-anchor a{
    text-decoration: none;
    color: orange;
}